a {
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  font-weight: 300;
  outline: none;
  text-decoration: none;
}

  a:hover {
    outline: none;
    text-decoration: none;
  }

span {
  color: #6c6db9;
  font-weight: 400;
}

.after-search {
  z-index: 1;
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  width: 100%;
  position: absolute;
  top: 0;
}

.search {
  border: none;
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.2);
  height: 50px;
  margin: 20px;
  padding: 20px;
  width: 50vw;
}

.top-avatar {
  border-radius: 100%;
  height: auto;
  width: 64px;
}