.star-button {
  color: #4b4ca8;
  background-color: transparent;
  border: solid 2px #4b4ca8;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  line-height: 36px;
  outline: none;
  cursor: pointer;
  transition: all 0.2s;
}

.star-button:hover {
  background-color: #4b4ca8;
  color: #FFF;
}

.unstar-button {
  color: #FFF;
  background-color: #4b4ca8;
  border: solid 2px #4b4ca8;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  line-height: 36px;
  outline: none;
  cursor: pointer;
  transition: all 0.2s;
}

.unstar-button:hover {
  background-color: #FFF;
  color: #4b4ca8;
}