.center-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.initial {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.search {
  border: none;
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.2);
  height: 50px;
  margin: 20px;
  padding: 20px;
  width: 50vw;
}