.repositories-dialog {
  background-color: #FFF;
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.1);
  color: #000;
  display: flex;
  flex-flow: column;
  height: auto;
  justify-content: space-between;
  left: 25.9%;
  margin: 20px;
  overflow: auto;
  padding: 20px;
  position: absolute;
  top: 100px;
  width: 50vw;
  z-index: 0;
}
