.repository-container {
  border-radius: 5px;
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
  display: grid;
  font-family: 'Roboto', sans-serif;
  grid-template-columns: auto 100px 100px;
  grid-template-rows: repeat(auto-fill(3, auto));
  padding: 20px;
  
}

.repository-container > p {
  margin: 0;
}

.repository-container > p:nth-child(1) {
  color: #4f4f4f;
  font-size: 1.25em;
  grid-column: 1;
  grid-row: 1;
}

.repository-container > p:nth-child(2) {
  color: #7b7b7b;
  font-size: 1.1em;
  grid-column: 1;
  grid-row: 2;
}
.repository-container > p:nth-child(3) {
  align-items: center;
  color: #7b7b7b;
  display: flex;
  font-size: 1.1em;
  grid-column: 1;
  grid-row: 3;
}

.repository-container > p:nth-child(3) > i {
  color: #5152b6;
}

.repository-container > button {
  grid-row-start: 2;
  grid-column-end: 4;
  margin: 10px
}