.user-not-found {
  align-items: center;
  color: #4f4f4f;
  display: flex;
  flex-flow: column;
  font-family: 'Roboto', sans-serif;
  font-size: 3em;
  font-weight: 300;
  height: 100vh;
  line-height: 1;
  justify-content: center;
}

.user-not-found > p:first-of-type {
  color: #5152b7;
  font-size: 4em;
  transform: rotate(90deg);
}