.sidebar-container {
  align-items: center;
  color: #FFF;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  justify-content: center;
  position: absolute;
  top: 120px;
  width: 100%;
}

.sidebar-top-container,
.sidebar-bottom-container {
  background-color: #4b4ca8;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.sidebar-bottom-container {
  align-items: flex-start;
  background-color: #5253b9;
  word-break: break-all;
}

.sidebar-avatar {
  border-radius: 100%;
  width: 90%;
}

.sidebar-top-container > p {
  margin: 0;
}


.sidebar-top-container > p:first-of-type {
  font-size: 1.3em;
  font-weight: 400;
  margin: 30px 0 0;
}

.sidebar-top-container > p:nth-of-type(2) {
  font-size: 1.25em;
  font-weight: 300;
  margin-bottom: 10px;
}

.sidebar-bottom-container > p {
  font-size: 0.9em;
}

.sidebar-bottom-container > p > i {
  font-size: 1em;
  margin: 0 5px 0 0;
}

.sidebar-bottom-container > p:first-of-type {
  font-size: 1.25em;
  margin-bottom: 20px;
}

.sidebar-bottom-container > p:not(:first-of-type) {
  padding: 0 15px;
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
}

.sidebar-bottom-container > p:nth-of-type(2) {
  font-size: 0.9em;
  padding: 0 15px;
  display: inline-flex;
  align-items: flex-start;

}