h1 {
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  font-weight: 300;
}

  span {
    color: #6c6db9;
    font-weight: 400;
  }

.login {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.login-button {
  color: #4b4ca8;
  background-color: transparent;
  border: solid 2px #4b4ca8;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  line-height: 36px;
  outline: none;
  cursor: pointer;
  transition: all 0.2s;
  text-align: center;
  width: 100px;
  text-decoration: none;
}

.login-button:hover {
  background-color: #4b4ca8;
  color: #FFF;
  text-decoration: none;
}